# Requirements for the additional code
pandas==2.0.3
requests==2.31.0
beautifulsoup4==4.12.2
PyPDF2
streamlit




# Requirements for scrapper.py
nltk==3.7
langchain-google-genai  # Ensure to replace with the correct version you are using
python-dotenv
google-generativeai  # Ensure to replace with the correct version you are using




